* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #464858;
    color: rgb(160, 235, 235);
    gap: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    padding: px;
    line-height: 1.6;
    box-shadow: 0 4px 8px rgb(15, 15, 15);
}

/*--header--*/

header {
    background-color: rgb(16, 15, 14);
    color: rgb(216, 215, 215);
    text-align: center;
    font-size: medium;
    position: sticky;


}

.logo {
    color: rgb(241, 107, 59);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight: 100px;
    font-style: oblique;
    letter-spacing: 4px;
    padding: 4px 5px;
}

nav {
    list-style: none;
    text-align: right;
    text-shadow: #464858;
    padding: 10px 6px;
    top: 0%;
    text-decoration: double;


}

.link {
    list-style: none;
    text-align: right;
    color: rgb(209, 215, 220);
    display: flex;
    gap: 25px;
    cursor: pointer;
    text-decoration: none;
    


}



#hero {
    padding-top: 20px;
    text-align: center;
    color: aquamarine;

}

.hero-image {
    border-radius: 30px;
    background-color: #464858;
    box-shadow: 0 4px 8px rgb(27, 26, 26)
}

.mm {
    box-shadow: #464858;
    border-radius: 30px;
    border-top-right-radius: 45px;
    box-shadow: 0 4px 8px rgb(27, 26, 26)
}




#hero h2 {
    padding: 50px;
    padding-top: 20px;
}

#btn {
    cursor: pointer;
    text-transform: capitalize;
    text-align: center;
    color: rgb(121, 248, 144);
    padding-bottom: 40px;
    padding-top: 40px;
    box-shadow: #464858;
    text-decoration: double;

}
 #hero a {
    
     padding-bottom: 40px;
    padding-top: 40px;
    box-shadow: #464858;
    
}
 




.intro {
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    margin-left: 20px;
}

.intro h2 {
    padding-bottom: 20PX;
    padding-top: 20px;
    color: coral;
    font-size: 30px;
}

.intro p {
    font-size: 15px;
    padding: 10px;
    padding-bottom: 10px;

}

.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    background-color: rgb(93, 102, 126);
    padding-top: 20px;
    color: black;
}

.gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px;
    color: antiquewhite;
}

.favorite-list {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    gap: 50px;
    margin-left: 20px;
    list-style: none;
    text-align: center;
    justify-content: center;


}
#gallery h2 {
    font-family: Arial, Helvetica, sans-serif ;
    color: chocolate;
    box-shadow: 0 ,8px, 10px;
}
#biography h2{
padding: 20px 13px;
font-family: 'Times New Roman', Times, serif;

}
.bio img{
    border: #e46def;
    border-radius: 20px;
    box-shadow: #83158f;
   background-color: aliceblue;
}

.bio h3{
    text-shadow: #83158f;
    font-size: x-large;
    color: darkolivegreen;
}
.bio p{
    padding-bottom: 20px;
    padding-top: 10px;
    color: #5fecab;

}
.tips{
    
   width: 25%;
   margin-left: auto;
   margin-right: auto;
    text-align: left;
    padding: 5px 7px;
    color: cadetblue;
    font-family: sans-serif;
}
.tips h2{
     font-size: 30px;
    color: darkgoldenrod;
}

.photo-tips {
    list-style: none;
   
}
.contact h2{
    font-size: 40px;
    color: darkgoldenrod;
    
}
.contact0-list {
    padding: 0%;
    padding-bottom: 6px;
    padding-top: 5px;
    border: #e46def;
    border-radius: 0 5px 8px;
}